# Database (MariaDB)
DATABASE_URL="mysql://username:password@localhost:3306/minihompi"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# OAuth - Kakao
KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""

# OAuth - Naver
NAVER_CLIENT_ID=""
NAVER_CLIENT_SECRET=""

# OAuth - Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
